<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><%= title %></h1>
    <div>
        <button onclick="location.href='/register'">회원가입</button>
        <button onclick="location.href='/login'">로그인</button>
        <button>아이디찾기</button>
        <button>비밀번호찾기</button>
    </div>
</body>
</html>
